html {
    font-family: Georgia, "Times New Roman", serif   
}

 body {
    background-color: #e2e0e1;
}

h1 {
    font-family: "FuturaBQ-Demibold", sans-serif;
    font-size: 3rem;
    font-weight: normal;
    color: #3a3b57;
    border-top: 13px solid #9a92a9;
    text-shadow: #999 2px 2px;
}

h2 {
    font-family: "FuturaBQ-Demibold", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    text-shadow: #999 2px 2px;
}

h1 + p {
    font-size: 1rem;
    line-height: 1.5;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

li {text-shadow: #999 1px 1px;
    color: #3a3b57;
}

iframe {width=50rem;
        height=50rem;